[Unit]
Description=Socat TCP-proxy for the serial port of the base
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/socat -d -d TCP-LISTEN:2102,fork,reuseaddr FILE:/dev/ttyACM0,b%i,raw

[Install]
WantedBy=multi-user.target
