[Unit]
Description=Copy the Config from /boot
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/copy-config.sh

[Install]
WantedBy=multi-user.target

