[Unit]
Description=ntripcaster
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/ntripcaster/bin/ntripcaster

[Install]
WantedBy=multi-user.target

